{% extends "layout.html" %}

{% block title %}Share{% endblock %}

{% block content %}
<h2>Ilmoitukset</h2>

<div class="items-grid">
  {% for item in items %}
    <div class="item-card">
      <h3><a href="/item/{{ item.id }}">{{ item.title }}</a></h3>
      <div class="item-info">
      {% if item.servings == 1 %}
        <span class="servings-tag">{{ item.servings }} annos jäljellä</span>
      {% else %}
        <span class="servings-tag">{{ item.servings }} annosta jäljellä</span>
      {% endif %}
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}