<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <header class="header">
    <div class="nav-container">
      <h1>Share</h1>

      <nav>
        <a href="/">Etusivu</a> |
        <a href="/find_item">Etsi ilmoitus</a> |

        {% if session.user_id %}
          <a href="/new_item">Uusi ilmoitus</a> |
          <a href="/logout">Kirjaudu ulos</a>
        {% else %}
          <a href="/login">Kirjaudu sisään</a> |
          <a href="/register">Luo tunnus</a>
        {% endif %}
      </nav>
    </div>
  </header>

  <div class="container">
    {% if session.username %}
    <p>
      Olet kirjautunut nimellä {{ session.username }}
    </p>
    {% endif %}

    {% block content %}{% endblock %}
  </div>

</body>

</html>