<!DOCTYPE html>
<html>

<head>
  <title>Uusi ilmoitus</title>
</head>

<body>
  <h1>Uusi ilmoitus</h1>
  <form action="/create_item" method="post">
    <p>
      Otsikko: <br />
      <input type="text" name="title" maxlength="50" required/>
    </p>
    <p>
      Kuvaus: <br />
      <textarea rows="8" cols="60" name="description" maxlength="1000" required></textarea>
    </p>
    <p>
      Annoksia tarjolla: <br />
      <input type="text" name="servings" size="4" pattern="[1-9][0-9]{0,3}" required/>
    </p>
    <p>
      Ruokavalio: <br />
      <select name="diet">
        <option value="">(valitse)</option>
        <option value="kasvis">kasvis</option>
        <option value="vegaaninen">vegaaninen</option>
        <option value="gluteeniton">gluteeniton</option>
        <option value="laktoositon">laktoositon</option>
      </select>
    </p>
    <p>
      Laji: <br />
      <select name="dish">
        <option value="">(valitse)</option>
        <option value="leivos">leivos</option>
        <option value="keitto">keitto</option>
        <option value="salaatti">salaatti</option>
        <option value="pääruoka">pääruoka</option>
      </select>
    </p>
    <input type="submit" value="Luo ilmoitus" />
  </form>
</body>

</html>