{% extends "layout.html" %}

{% block title %}{{ item.title }}{% endblock %}

{% block content %}
<h2>{{ item.title }}</h2>
{% if session.user_id == item.user_id %}
<p>
  <a href="/edit_item/{{ item.id }}">Muokkaa</a>
  <a href="/remove_item/{{ item.id }}">Poista</a>
</p>
{% endif %}
<p>
  {{ item.description }}
</p>
<p>
  Annoksia tarjolla: {{ item.servings }} kpl
</p>
<p>
  Tarjoilija: <a href="/user/{{ item.user_id}}">{{ item.username }}</a>
</p>
{% if classes %}
<p>
  Tiedot:
  <ul>
    {% for title, values in classes.items() %}
      <li>
        <strong>{{ title }}:</strong> {{ values | join(", ")}}
      </li>
    {% endfor %}
  </ul>
</p>
{% endif %}

<h3>Ilmoittautuneet</h3>
<ul>
  {% for enrollment in enrollments %}
  <li><a href="/user/{{ enrollment.user_id }}">{{ enrollment.username }}</a></li>
  {% endfor %}
</ul>

<h3>Ilmoittautuminen</h3>
{% if not session.user_id %}
  <p><a href="/login">Kirjaudu sisään</a> ilmoittautuaksesi</p>
{% elif is_enrolled %}
  <p><strong>Olet jo ilmoittautunut</strong></p>
  <form action="/cancel_enroll" method="post">
    <input type="hidden" name="item_id" value="{{ item.id }}">
    <input type="submit" value="Peru ilmoittautuminen">
  </form>
{% elif item.servings <= 0 %}
  <p><em>Annokset ovat loppu</em></p>
{% else %}
  <form action="/enroll" method="post">
    <input type="hidden" name="item_id" value="{{ item.id }}">
    <input type="submit" value="Ilmoittaudu" />
  </form>
{% endif %}
{% endblock %}